body {
    background:url(image/background.jpg);
    font-family:"Courier", sans-serif;
    margin:0px auto;
    padding-top:50px;
    width:900px;
}

article,header,section {
    display:block;
}

a {
    color:#000000;
    text-decoration:underline;
}
a:hover {
    color:#4F4D47;
}

code .keyword              { color: #000; font-weight: bold; }
code .string, code .regexp { color: #E77600; }
code .class, code .special { color: #000; font-weight: bold; }
code .number               { color: #FFB17A; }
code .comment              { color: #998; }

#content {
    float:left;
    width:500px;
}

#content > header {
    font-family:"3DumbRegular", "Courier New", "Courier", sans-serif;
    font-size:96px;
    height:101px;
    margin-bottom:75px;
}

#content h1 {
    font-size:30px;
    font-weight:normal;
    margin:1.67em 0px 0.67em 0px;
    text-transform:lowercase;
}

#content p {
    line-height:1.67em;
}

#content pre {
    background-color:rgba(0, 0, 0, 0.05);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding-left:1em;
}

#content code {
    font-family:"Courier", sans-serif;
    font-size:13px;
}

#content ul {
    list-style:none;
    padding-left:20px;
}

#content li:before {
    content:'>';
    font-family:"3DumbRegular", "Courier New", "Courier", sans-serif;
    font-size:3em;
    padding-right:10px;
    position:relative;
    top:0.3em;
}

#content li {
    line-height:2em;
}

#demo {
    float:right;
    height:709px;
    position:relative;
    width:361px;
}

#demo header {
    background:url(image/phone.png) no-repeat 0px 0px;
    height:709px;
    position:absolute;
    width:361px;
    z-index:-1;
}

#demo > footer {
    background-color:rgba(216, 213, 204, 0.3);
    height:480px;
    left:18px;
    position:absolute;
    top:114px;
    width:322px;
    z-index:-2;
}

#demo > section {
    height:478px;
    left:18px;
    position:absolute;
    top:114px;
    width:322px;
    z-index:1;
}

#demo > section button {
    background:none;
    border:0px;
    border-radius:0px;
    display:block;
    cursor:pointer;
    font-family:"3DumbRegular", "Courier New", "Courier", sans-serif;
    font-size:36px;
    line-height:1.17em;
    text-decoration:none;
    width:322px;
}

#demo > section button:hover {
    color:#2c860d;
}

#demo > section button:hover:before,
#demo > section button:hover:after {
    content:'**';
}

.buttons {
    margin-top:28px;
}

.console {
    font-family:"Courier New", "Courier", sans-serif;
    background-color:rgba(0, 0, 0, 0.1);
    border-top:2px solid #000000;
    bottom:0px;
    height:125px;
    position:absolute;
    width:100%;
}

.console ol,
.console li,
.console p {
    margin:0px;
    padding:0px;
}

.console ol {
    height:100px;
    list-style-position:inside;
    overflow:auto;
    padding-left:10px;
}

.console p {
    padding-left:15px;
}

.console .input {
    display:inline-block;
    width:20px;
}

@-webkit-keyframes blinkit {
    from { opacity: 1.0; }
    25% { opacity: 1.0; }
    50% { opacity: 0.0; }
    75% { opacity: 0.0; }
    to { opacity: 1.0; }
}
 
.blink {
    -webkit-animation:blinkit 3000ms infinite;
}

.console .caret {
    background-color:#333333;
    color:#FFFFFF;
    padding:2px 4px;
}
